<h1> <%= @cat.name %> the Cat! </h1>
<%= link_to "<<Back", cats_url %>
<%= link_to "Edit this cat!", edit_cat_url %>

<br><br>

<table>
  <tr>
    <th>Age</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= @cat.age %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.description %> </td>
  </tr>
</table>

<h4><%= !@cat.rental_requests.empty? ? "Requests!" : "No requests :("%></h4>
<ul>
  <% @cat.rental_requests.order(:start_date).each do |request| %>
    <li><strong>Request from:</strong> <%= request.start_date %> to <%= request.end_date %></li>
  <% end %>
</ul>
